.header {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $color-dark;

  .header__image {
    margin-bottom: 1rem;
    object-fit: cover;
    object-position: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }

  .header__title {
    font-size: 1.5rem;
    color: $color-grey;
    font-weight: 300;
    font-family: $font-family-leckerli;
  }

  .header__subtitle {
    font-size: 1rem;
    color: $color-warning;
  }
}
