* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: $font-family-poppins;
  background-color: $color-white;
  width: 100%;

  .buttons {
    position: relative;
    bottom: -55px;
    list-style-type: none;

    .buttons__item {
      display: inline-block;
      margin: 0.5rem;

      .buttons__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 0.8rem;
        color: $color-grey;
        border: 3px solid $color-dark-light;
        background-color: $color-dark-light;
        border-radius: 3px;
        transition: 0.3s background-color, 0.3s color;

        &.buttons__link--padding-5 {
          padding: 0.5rem;
        }

        &:hover {
          background-color: $color-dark;
          color: $color-warning;
        }

        .buttons__icon {
          font-size: 1.8rem;

          &.buttons__icon--fz-11 {
            font-size: 1.1rem;
          }
        }
      }
    }

    &.buttons--position-top {
      bottom: 0;
    }
  }

  .main {
    display: flex;
    padding-bottom: 2rem;
    .main__column {
      flex-basis: 50%;
      height: 100%;
      margin: 2rem 0;
      padding: 0 2rem;

      .title {
        margin: 2rem 0 1rem 0;
        font-size: 1.5rem;
        position: relative;
        padding-bottom: 0.5rem;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          margin-right: 35px;
          bottom: 0;
          width: 40px;
          border-radius: 50px;
          border-bottom-width: 5px;
          border-bottom-style: solid;
          color: $color-warning;
        }
      }

      .resume {
        .resume__description {
          text-align: justify;

          @include for-phone {
            text-align: left;
          }
        }

        .resume__contact {
          list-style-type: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          margin: 1rem 0;

          .resume__item {
            flex-basis: 50%;
            display: inline-block;
            margin: 0.3rem 0;
            .resume__text {
              .resume__icon {
                margin: 0 0.5rem;
              }
            }
            &.resume__item--text-right {
              text-align: right;

              @include for-tablet-down {
                text-align: left;
              }
            }

            @include for-tablet-down {
              flex-basis: 100%;
            }
          }

          @include for-phone {
            margin: 1rem 0 0 0;
          }
        }

        @include for-phone {
          margin: 0;
        }
      }

      .section {
        .section__list {
          list-style-type: none;
          .section__item {
            margin-left: 0.5rem;
            padding-bottom: 1rem;
            border-left: 2px solid $color-dark-light;
            padding-left: 1.5rem;
            position: relative;

            .section__title {
              font-weight: bold;
              &:before {
                content: "";
                height: 13px;
                width: 13px;
                position: absolute;
                left: -0.5rem;
                top: 6px;
                border-radius: 50%;
                background-color: $color-warning;
                box-shadow: 0 0 0 6px $color-dark-light;
              }
            }

            @include for-tablet-down {
              .section__university {
                .section__abbr {
                  text-decoration: none;
                }
              }
            }
          }
        }

        @include for-tablet-down {
          flex-basis: 100% !important;
          margin: 0;
        }

        @include for-desktop-down {
          flex-basis: 45%;
          margin: 0 0.7rem;
        }
      }

      .language {
        .language__list {
          list-style-type: none;
          .language__item {
            display: inline-flex;
            padding: 0.5rem 1rem;
            margin: 0.5rem 1rem 0 0;
            border: 3px solid $color-dark;
            background-color: $color-dark-light;
            justify-content: center;
            align-items: center;
            transition: 0.1s transform;

            .language__icon {
              font-size: 2rem;
              color: $color-warning;
            }

            .language__text {
              margin: 0 0.5rem;
              color: $color-white;
            }

            &:hover {
              transform: scale(1.03);
            }
          }
        }
      }

      .skill {
        .skill__list {
          list-style-type: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          .skill__item {
            flex-basis: 45%;
            margin: 0.5rem 0;
            .skill__title {
              text-transform: uppercase;
              margin: 0.5rem 0;
              font-weight: bold;

              .skill__percentage {
                color: $color-warning;
                font-family: $font-family-leckerli-one;
                margin-right: 0.5rem;
                font-size: 0.9rem;
              }
            }

            .skill__bar {
              position: relative;
              width: 100%;
              height: 0.5rem;
              background-color: $color-dark-light;

              &:before {
                content: "";
                position: absolute;
                background-color: $color-warning;
                height: 100%;
                top: 0;
                left: 0;
              }

              @each $size in $percentages {
                &.skill__bar--width-#{$size}:before {
                  width: $size * 1%;
                }
              }
            }

            @include for-phone {
              flex-basis: 100%;
            }
          }
        }
      }

      .project {
        .project__list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          list-style-type: none;
          .project__item {
            flex-basis: 48%;

            .project__link {
              text-decoration: none;
              color: $color-black;
              .project__card {
                margin: 20px 0;
                box-shadow: 0px 0px 19px -6px $color-dark-light-opacity;
                position: relative;
                width: 100%;
                height: 200px;
                text-decoration: none;
                display: block;
                transition: 0.15s transform;
                border-radius: 5px;

                .project__img {
                  border-radius: 5px;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  object-position: top;
                  object-fit: cover;
                }

                .project__text {
                  border-radius: 5px;
                  padding: 0.5rem 2rem;
                  transform: scale(0);
                  background-color: $color-dark-opacity;
                  color: $color-white;
                  height: 100%;
                  transition: 0.5s transform;

                  .project__title {
                    margin: 1rem 0;
                    color: $color-warning;
                  }

                  .project__description {
                    margin: 1rem 0;
                  }
                }

                &:hover > .project__text {
                  transform: scale(1);
                }
              }

              &:hover {
                color: $color-warning;
              }
            }

            &.project__item--position-right {
              flex-basis: 100%;
              font-weight: bold;
              text-align: right;
            }

            @include for-phone {
              flex-basis: 100%;
            }
          }
        }
      }

      @include for-desktop-down {
        margin: 0 !important;
        display: flex;
        flex-wrap: wrap;
        &.main__column--mt-10 {
          margin-top: 20px !important;
        }
      }
    }

    @include for-desktop-down {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-basis: 100%;
    }
  }
}
